<h1 class="tex-center">Guilherme Franca</h1>

<div class="my-5 text-center">
        <img src="/img/perfiles/profile.png" alt="" width="300" height="300" class="rounded-circle" >
</div>

<p class="text-center">Edita aqui tu perfil</p>
